/* work sans font from google font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap'); 

/* shared styles */
*{
    font-family: 'Work Sans', sans-serif;
}    

.text-light-gray{ 
    color:#727272;
    font-size:1rem; 
    font-weight: 400; 

} 
.section-title{
    font-size:2.8rem; 
    font-weight: 700; 
    color:#131313;
}

.btn-primary{ 
    border-radius: 8px; 
   background:#FF900E; 
    color: #fff; 
    font-size: 1.24rem;
    padding: 20px 25px ; 
    font-weight: 600; 
    cursor:pointer; 
    border:0;

}
/* header styles */ 

header{
    background: rgba(255, 144, 14, 0.10);  
    padding:45px 240px; 

} 
nav{ 
    display:flex; 
    justify-content: space-between; 
    align-items: center;

}  



nav >ul {
    display:flex; 

} 
nav li{
    list-style: none; 
    margin-right: 30px; 
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 26px;
} 
nav li a {
    text-decoration: none; 
    color:#424242;
} 
 
/* banner styles */ 

.banner-content{
    max-width: 800px; 
    text-align:center; 
    margin: 0 auto;
} 
 


.banner img{ 
    margin-top: 30px;
    width: 100%;
}
 
 

/* main starts here */   

main{
    max-width: 1440px;  
    margin: 60px 70px;

} 

/* teams styles */ 

.teams-container{


    display:flex; 
    align-items: center;
}
.teams-img-container{  
    display: grid; 
    grid-template-columns: repeat(2,1fr); 
    gap: 1.5rem;
} 
.teams-content{
    padding-left: 70px; 
    padding-right: 70px;
} 

.teams-title .quick-list{ 
    font-size: 2.8rem;  
    font-weight: 500; 
    color: #727272; 
  

} 
.teams-title .of-our{ 
    font-size: 2.8rem;  
    font-weight: 700; 
    color:#131313 

} 


.teams-title .feature{ 
    font-size:2.8rem;
    font-weight: 700; 
    color:#FF900E;

}  

/* features section starts */ 
.feature-section{ 
    margin-top: 130px;
    display:flex;  
    gap:100px;

}  

.ten-years-badge{
    border-radius: 8px; 
    background: #FF900E; 
    color: #FFF; 
    width:190px;
    padding: 20px; 
    text-align: center; 
    position: relative;
    bottom: 130px;
}  
.features-img img { 
    height: 992px;  
    margin-left: 40px; 
    margin-top: 40px;


}

.feature-section .section-title{ 
    border-left: 5px solid #FF900E; 
    padding-left: 20px; 

    
}
.features-content .card-section{ 
    padding: 30px; 
    margin-bottom: 20px;
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

/* facts section */
.facts-card-container{
    display:flex; 
    justify-content: space-around;
}  
.facts-card-container .card{
    border-radius: 10px;
border: 1px solid #FF900E;  
text-align: center; 
padding: 30px;
} 




.facts-card-container .card-stats{ 
    font-size: 2.5rem; 
    color: #424242; 
    font-weight: 600;  
    margin-top: 10px; 
    margin-bottom: 10px;
    
} 
.facts-card-container .card-titl3{ 
    font-weight: 600; 
    font-size: 1rem; 
    color: #727272; 
    margin-top: 5px; 
 
 
 }  

 /* sponspors section */ 

 .sponspors {
    text-align: center;
 } 
 .sponspors-img-container{
    display:flex; 
    justify-content: space-evenly; 
    margin-top: 50px; 
    gap:20px; 
    align-items: center;
 } 
 .sponspors-img-container img{
    width:165px;
 }
    
 
  



/* responsive media query */  
 /*For mobile device  */
 @media screen and (max-width:576px){
    header{ 
        padding:20px;

    } 
    nav,.teams-container,.facts-card-container, .sponspors-img-container{
        flex-direction:column;
    } 
    .teams-img-container{
        grid-template-columns: 1fr;
    }  

    .teams-content,.facts-card-container{
        padding-left: 20px; 
        padding-right: 20px;
    } 
    .facts-card-container{
        gap:20px;
    }
} 




/* Tablet or medium device */ 

@media screen and (min-width:576px) and (max-width:992px){ 
    header{
        padding:50px;
    } 
    nav,
    .teams-container , .sponspors-img-container{
        flex-direction: column;
    }  
    /* .teams-img-container{
        grid-template-columns: 1fr;
    } */ 

    .facts-card-container{
        gap:20px;
    }

  

} 



